:root {
  --mainBgColor: #fdf6f6;
  --mainTextColor: #f29829;
  --priColor: #333;
  --secColor: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--mainBgColor);
  height: 100vh;
  width: 100vw;
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Side-menu */
.side-menu {
  position: fixed;
  height: calc(100% - 70px);
  max-width: 400px;
  width: 100%;
  top: 70px;
  left: 0;
  background-color: var(--secColor);
  padding: 20px;
  z-index: 4;
  transform: translateX(-1000px);
  transition: all 0.7s ease-in-out;
}
.side-menu.show {
  transform: translateX(0px);
}
.side-menu .close-btn {
  text-align: right;
  font-size: 2rem;
}
.side-menu .close-btn .fa-close {
  cursor: pointer;
}
.side-menu a {
  text-decoration: none;
  color: var(--priColor);
}
.side-menu .search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}
.side-menu .search input {
  border: 2px solid var(--priColor);
  outline: none;
  padding: 10px;
  width: 70%;
  border-radius: 5px;
}
.side-menu .search a {
  background-color: var(--mainTextColor);
  padding: 8px 20px;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}
.side-menu .search a:hover {
  opacity: 0.8;
}
.side-menu .categories {
  display: flex;
  flex-direction: column;
}
.side-menu .categories a {
  padding: 8px 0;
}
.side-menu .categories a:hover {
  opacity: 0.9;
}
.side-menu .login {
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.side-menu .login a {
  background-color: var(--mainTextColor);
  padding: 10px 20px;
  margin: 30px 0;
  border-radius: 3px;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}
.side-menu .login a:hover {
  opacity: 0.8;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 10px;
  background-color: var(--mainTextColor);
  color: var(--secColor);
  z-index: 1;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.main-header .container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header .container .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header .container .navbar ul {
  display: flex;
  font-size: 1.3rem;
  text-transform: capitalize;
  align-items: center;
}
.main-header .container .navbar ul li {
  list-style: none;
}
.main-header .container .navbar ul li a {
  text-decoration: none;
  color: var(--secColor);
}
.main-header .container .navbar a {
  color: var(--secColor);
  text-decoration: none;
  margin: 0 15px;
  transition: all 0.9s linear;
}
.main-header .container .navbar a:hover {
  color: #ccc;
}
.main-header .container .navbar ul .cart {
  position: relative;
  margin: 0 15px;
  cursor: pointer;
}
.main-header .container .navbar ul .cart span {
  position: absolute;
  top: -13px;
  right: -15px;
  background-color: var(--priColor);
  border-radius: 30%;
  padding: 0 6px;
  font-size: 17px;
}
.main-header .fa-bars-staggered {
  font-size: 2rem;
}

main {
  width: 100%;
  max-width: 980px;
  margin: auto;
}

.hero {
  background-image: url("./images/young-woman-training-gym.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  color: var(--secColor);
  margin: 80px 0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.hero .inner-hero {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  padding: 30px;
}
.hero .inner-hero h2 {
  font-size: 3.5rem;
  padding: 15px 0;
}
.hero .inner-hero p {
  line-height: 1.8;
}

/* Products */
.products .inner-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}
.products .inner-products .item {
  border: 2px solid var(--mainTextColor);
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.products .inner-products .item .img {
  max-width: 300px;
  width: 100%;
  height: auto;
  object-fit: fill;
  border-radius: 3px;
}
.products .inner-products .item .net {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}
.products .inner-products .item .net i {
  color: var(--mainTextColor);
  cursor: pointer;
}
.products .inner-products .item .order {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products .inner-products .item .order small {
  font-weight: 800;
  font-size: 1.3rem;
}
.products .inner-products .item .order .bag-btn {
  text-decoration: none;
  color: var(--mainBgColor);
  background-color: var(--mainTextColor);
  padding: 18px 25px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  font-size: 0.9rem;
  border: none;
}
.products .inner-products .item .order a:hover {
  opacity: 0.8;
}

.banner {
  background-color: var(--priColor);
  width: 100%;
  color: var(--secColor);
  margin: 50px 0 0;
}
.banner .inner-banner {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  padding: 50px;
}
.banner .inner-banner .top-banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.banner .inner-banner .top-banner div ul {
  list-style: none;
  margin: 20px;
}
.banner .inner-banner .top-banner div ul li a {
  text-decoration: none;
  color: var(--secColor);
  margin: 10px 0;
  display: inline-block;
  text-transform: capitalize;
}
.banner .inner-banner .bottom-banner {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}
.banner .inner-banner .bottom-banner input {
  padding: 15px;
  width: 100%;
  max-width: 500px;
  border-radius: 3px;
  border: none;
  outline: 0;
  margin: 10px 0;
}
.banner .inner-banner .bottom-banner button {
  padding: 15px 30px;
  background-color: var(--mainTextColor);
  border: none;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  margin: 10px 0;
}
.banner .inner-banner .bottom-banner button:hover {
  opacity: 0.8;
}

.register,
.signup {
  width: 100%;
  height: 100%;
  background-color: var(--mainBgColor);
}
.register .prev,
.signup .prev {
  background-color: var(--mainTextColor);
  padding: 20px;
  text-align: left;
  text-transform: capitalize;
}
.register .prev a,
.signup .prev a {
  text-decoration: none;
  color: var(--priColor);
  cursor: pointer;
  transition: 0.5s linear;
}
.register .prev a i,
.signup .prev a i {
  margin: 0 10px;
}
.register .prev a:hover,
.signup .prev a:hover {
  opacity: 0.7;
}
.register .inner-register,
.signup .inner-signup {
  width: 550px;
  /* height: 100%; */
  height: calc(100vh - 100px);
  margin-top: 50px;
  background-color: var(--secColor);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
}
.register .inner-register h1,
.signup .inner-signup h1 {
  background-color: var(--mainTextColor);
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  color: var(--secColor);
}
.register .inner-register .social-icon,
.signup .inner-signup .social-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin: 30px auto;
}
.register .inner-register .social-icon i,
.signup .inner-signup .social-icon i {
  font-size: 2.7rem;
  cursor: pointer;
}
.register .inner-register form,
.signup .inner-signup form {
  width: 100%;
  max-width: 450px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}
.register .inner-register form input {
  border: none;
  padding: 15px;
  margin: 10px 0;
  border-radius: 3px;
  width: 100%;
  background-color: #f4f4f4;
}
.signup .inner-signup form input {
  border: none;
  padding: 12px;
  margin: 10px 0;
  border-radius: 3px;
  width: 100%;
  background-color: #f4f4f4;
}
.register .inner-register form a,
.signup .inner-signup form a {
  text-decoration: none;
  font-style: italic;
  margin: 5px 0;
}
.register .inner-register form button,
.signup .inner-signup form button {
  width: 100%;
  padding: 10px;
  background-color: var(--mainTextColor);
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 5px 0;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.register .inner-register form button:hover,
.signup .inner-signup form button:hover {
  opacity: 0.8;
}
.register .inner-register .foot,
.signup .inner-signup .foot {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--mainTextColor);
  width: 100%;
  text-align: center;
  padding: 10px;
}

/* cart */
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
  visibility: hidden;
  transition: all 0.7s ease-in-out;
}
.cart-overlay.show {
  visibility: visible;
}
.cart-overlay .inner-cart {
  position: fixed;
  right: 0;
  top: 10;
  background-color: var(--secColor);
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  border-left: 5px solid var(--mainTextColor);
  padding: 30px;
}
.cart-overlay .inner-cart h4 {
  font-size: 2rem;
  text-align: center;
}
.cart-overlay .inner-cart .fa-times-circle {
  font-size: 2rem;
}
.cart-overlay .inner-cart .cart-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 3px solid var(--mainTextColor);
  margin: 10px 0;
  padding: 10px 0;
  gap: 10px;
  flex-wrap: wrap;
}
.cart-overlay .inner-cart .cart-content .cart-item .quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.cart-overlay .inner-cart .cart-content .cart-item .quantity i {
  color: var(--mainTextColor);
}
.cart-overlay .inner-cart .cart-content .cart-item .cart-img {
  width: 150px;
  height: 150px;
}
.cart-overlay .inner-cart .cart-content .cart-item .cart-img img {
  width: 100%;
  border-radius: 3px;
}
.cart-overlay .inner-cart .cart-content .cart-item .description {
  flex: 1;
  margin: 0 10px;
}
.cart-overlay .inner-cart .cart-content .cart-item .description .remove-item {
  cursor: pointer;
  opacity: 0.8;
  font-size: 0.8rem;
  text-transform: capitalize;
}
.cart-overlay .inner-cart .clear-order {
  width: 100%;
  text-align: center;
  position: static;
  bottom: 0;
}
.cart-overlay .inner-cart .clear-order .total {
  font-size: 2rem;
  text-transform: capitalize;
}
.cart-overlay .inner-cart .clear-order button {
  background-color: var(--mainTextColor);
  padding: 10px;
  border: none;
  width: 150px;
  height: 50px;
  margin: 10px 20px;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 5px;
  transition: 0.5s ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.cart-overlay .inner-cart .clear-order button:hover {
  opacity: 0.8;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: var(--priColor);
  color: var(--mainBgColor);
  border-top: 2px solid var(--mainBgColor);
}

@media screen and (max-width: 600px) {
  .hero {
    height: 80vh;
  }
  .products .inner-products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 20px;
  }
  .banner .inner-banner .top-banner {
    align-items: flex-start;
  }
  .banner .inner-banner {
    padding: 10px;
  }
  .banner .inner-banner .bottom-banner {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
  }
  .banner .inner-banner .bottom-banner input {
    margin: 20px 0;
  }
  .cart-overlay .inner-cart {
    width: 100%;
  }
  .cart-overlay .inner-cart .cart-content .cart-item {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 2fr));
    width: 100%; */
  }
  .cart-overlay .inner-cart .cart-content .cart-item .cart-img {
    width: 300px;
    margin-bottom: 80px;
  }
  .cart-overlay .inner-cart .cart-content .cart-item .cart-img img {
    width: 100%;
    /* margin-bottom: 50px; */
  }
  .register .inner-register,
  .signup .inner-signup {
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin-top: 70px;
  }
  .register .prev,
  .signup .prev {
    z-index: 5;
  }
  .register .inner-register form,
  .signup .inner-signup form {
    padding: 10px;
  }
}
